language: php

php:
    - "5.3"
    - "5.4"

before_script:
    - curl -s https://getcomposer.org/installer | php
    - php composer.phar install --prefer-source --dev


script:
    - vendor/bin/phpunit -c tests/phpunit.xml tests/
    - vendor/bin/phpcs --standard=PSR2 -n library/ tests/

